<app-navbar></app-navbar>
<!-- <app-footer></app-footer> -->
<section class="hero-section">
  <div class="hero">
    <h1>Order your favorite<br />food here</h1>
    <p>
      Choose from a diverse menu featuring a delectable array of<br> dishes,
      expertly crafted using the finest ingredients and culinary<br>
       mastery. Our mission is to satisfy your cravings and elevate<br>
        your dining experience—one delicious meal at a time.
    </p>
    <button class="view-menu-btn">View Menu</button>
  </div>

</section>


<app-menu></app-menu>
<app-contact></app-contact>
  <app-footer></app-footer>
